# Don't commit Mac filesystem junk!
.DS_Store

# Don't commit JetBrains project junk!
.idea

# This is a personal config file which will differ from user to user
config.json

# Don't commit log files or media
/logs/*
!/logs/.htaccess
/media

# Don't commit Composer dependencies
/vendor

# Local tool caches
/.php-cs-fixer.cache
/.phpstan
/.phpunit.cache
