{
    "feeds": [
        {
            "url": "https://feeds.wnyc.org/radiolab",
            "prepend": "Radiolab: ",
            "item_max_age": 7
        },
        {
            "url": "https://www.npr.org/rss/podcast.php?id=344098539",
            "prepend": "Wait Wait... ",
            "item_limit": 5,
            "disabled": "true"
        },
        {
            "url": "https://feeds.99percentinvisible.org/99percentinvisible",
            "item_limit": 5,
            "filter": {
                "itunes:episodeType": "^((?!trailer).)*$"
            }
        },
        {
            "url": "https://example.com/archive-feed.xml",
            "replay": {
                "schedule": "0 9 * * 1",
                "replayStartDate": "Mon, 01 Jan 2024 09:00:00 +0000",
                "originalStartDate": "Mon, 01 Jan 2018 09:00:00 +0000"
            }
        }
    ],
    "files": [
        {
            "url": "https://example.com/path/to/audio.mp3",
            "title": "Title to Display in Podcatcher",
            "pubDate": "Tue, 01 Mar 2024 22:30:00 +0000",
            "description": "Lorem ipsum dolor sit amet"
        }
    ],
    "channel": {
        "title": "Title of Your Custom Feed",
        "link": "https://github.com/insanityfarm/podquilt",
        "description": "My custom podcast feed from Podquilt"
    },
    "logs": {
        "enabled": true,
        "level": 4,
        "path": "logs/podquilt.log"
    }
}
